
.page {
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* text-shadow: 4px 4px 0 var(--accent-color); */
/* для заголовка + переписать для ссылок*/