:root {
  --accent-color: #ff0070;
}

.page {
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

/* text-shadow: 4px 4px 0 var(--accent-color); */
/* для заголовка + переписать для ссылок*/


.header {
  padding-bottom: 66px;
  position: relative;
}

.decorative-element::before {
  content: "REC";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  top: 10px;
  right: 38px;
  color: #FF0070;
}

.decorative-element::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px #FF0070);
}

.title {
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 95.7px;
}

.header__title {
  margin: 65px 10px 55px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__text {
  margin: 0 10px 0;
  
}

.header__text::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid;
  border-right: 1px solid;
  color: #FF0070;
}

.header__text::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  color: #FF0070;
}

.text__subtitle {
  font-weight: 700;
}

.articles {
  margin-top: 40px;
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-left: 10px;
}

.article__title {
  color: #FF0070;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.marked-text {
  color: #000028;
  font-size: 18px;
  line-height: 23.4px;
  background-color: #FF0070;
  max-width: calc(100vw - 20px);
}

.reason__title {
  margin-top: 20px;
  font-weight: 400;
}

.reason__text {
  color: #F1B2CE;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 10px;
}

.accent-word {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.articles__list-item .article__subtitle {
  margin-bottom: 10px;
}

.article__image {
  max-width: calc(100vw - 20px);
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.footer__title {
  margin: 286px 13px 285px 14px;
}

.footer__title::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid;
  border-right: 1px solid;
  color: #FF0070;
}

.footer__title::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  color: #FF0070;
}

