
@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --background-color: #fff1f7;
    --title-decor-color: #353430;
    --frame-and-menu-color: #353430;
    --title-shadow: #ff0070;
    --article__title: #353430;
    --button-hover: #32312D66;
    --background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto > .header > .header__theme-menu > .header__theme-menu-list > .header__theme-menu-item > .header__theme-menu-button_type_auto {
    outline: 1px solid var(--frame-and-menu-color);
    pointer-events: none;
  }
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --accent-color: #ff0070;
    --standart-font-weight: 400;
    --bold-font-weight: 700;
    --small-font-size: 18px;
    --title-color: #db00ff;
    --main-text-color: #f1b2ce;
    --background-color: #000028;
    --title-decor-color: #000028;
    --frame-and-menu-color: #ff0070;
    --title-shadow: #ff0070;
    --article__title: #ff0070;
    --button-hover: #FF007066;
    --background-image: url(../images/cover-image-dark.png);
  }

  .page.theme_auto > .header > .header__theme-menu > .header__theme-menu-list > .header__theme-menu-item > .header__theme-menu-button_type_auto {
    outline: 1px solid var(--frame-and-menu-color);
    pointer-events: none;
  }
}
